* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #101010;
}

.container {
    min-width: 400px;
    min-height: 100vh;
    color: #fefefe;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

 h1 {
    font-size: 50px;
    margin: 30px 0;
    letter-spacing: 5px;
    text-align: center;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    flex: 1;
    border-radius: 5px;
    width: 70px;
    margin: 10px;
    font-size: 16px;
   
}

.container button:nth-child(1) {
    background-color: #ffc815;
}

.container button:nth-child(2) {
    background-color: #1bbd32;
}

.container button:nth-child(3) {
    background-color: #ff0000;
}