* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: #101010;
}

.container {
    min-width: 400px;
    height: 100vh;
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
   
}

 h1 {
    font-size: 50px;
    margin: 30px 0;
    letter-spacing: 5px;
    text-align: center;
    border: 2px solid #8335fd;
    padding: 20px 60px;
    border-radius: 8px;
    background-color: #8335fd;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px ;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    margin: 20px 10px;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    background-color: #8335fd;
    color: #fefefe;
    border: none;
   
    
}

button:hover {
    border: 2px solid #8335fd;
    background-color: transparent;
    color: #8335fd;
    border: none;
 }


/*
.container button:nth-child(1) {
    background-color: #ffc815;
}
/
.container button:nth-child(2) {
    background-color: #1bbd32;
}

.container button:nth-child(3) {
    background-color: #ff0000;
}
*/